<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>My Own Bank</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style5.css"/>

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
   <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />

    <!--bootstrap date-time picker-->
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!--data table-->
    <link href="/css/jquery.dataTable.min.css" rel="stylesheet" />
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->
    <link href="/css/main.css" rel="stylesheet" />

    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="/js/fuse-html.min.css" />

         <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="/css/fusestyle.css"/>
<script type="text/javascript" src="https://canvasjs.com/assets//js/canvasjs.min.js"></script>

    <!--<script type="text/javascript" id="ca_eum_ba_ext" src="https://cloud.ca.com/mdo/v1/sdks/browser/BAExt.js"></script>-->
    <!--<script type="text/javascript" id="ca_eum_ba" agent="browser" src="https://cloud.ca.com/mdo/v1/sdks/browser/BA.js" data-profileUrl="https://collector-axa.cloud.ca.com//api/1/urn:ca:tenantId:C9DAE40F-4E4E-4DC8-AF2F-72B99D7678A4/urn:ca:appId:MyOwnBank/profile?agent=browser" data-tenantID="C9DAE40F-4E4E-4DC8-AF2F-72B99D7678A4" data-appID="MyOwnBank" data-appKey="055faba0-276b-11e8-bb1a-c173cd5c0cf2"> </script>-->

    <!--AXA Snippet-->
    <script type="text/javascript" id="ca_eum_ba_ext" src="https://cloud.ca.com/mdo/v1/sdks/browser/BAExt.js"></script>
    <script type="text/javascript" id="ca_eum_ba" agent=browser src="https://cloud.ca.com/mdo/v1/sdks/browser/BA.js" data-profileUrl="https://collector-axa.cloud.ca.com//api/1/urn:ca:tenantId:96CFAD47-0187-4784-8CCB-3D566B262C6B/urn:ca:appId:InternetBanking/profile?agent=browser" data-tenantID="96CFAD47-0187-4784-8CCB-3D566B262C6B" data-appID="InternetBanking" data-appKey="7471ce50-3a45-11e8-b317-9561a5d77467" ></script>

    <script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/19b5ebd343e3405a863f655c569467e1/test/walkme_19b5ebd343e3405a863f655c569467e1_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig = {smartLoad:true}; })();</script>
</head>
<body>
<!-- Navigation -->

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="/js/bootstrap.min.js"></script> -->

    <script src="/js/jquery-1.12.0.min.js"></script>

    <script src="/js/jquery.easing.min.js"></script>

    <!--bootstrap date-time picker-->
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <!--bootbox-->
    <script src="/js/bootbox.min.js"></script>

    <!--data table-->
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>

    <!--main js-->
    <!--<script src="/js/main.js"></script>-->


    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>


    <script src="/js/custom.min.js"></script>
  
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.categories.js"></script>
    <script src="/js/jquery.flot.pie.js"></script>
    <script src="/js/jquery.flot.tooltip.js"></script>
    <script src="/js/jquery.flot.resize.js"></script>
    <script src="/js/jquery.flot.fillbetween.js"></script>
    <script src="/js/jquery.flot.stack.js"></script>
    <script src="/js/jquery.flot.spline.js"></script>

    <!--CORE JAVASCRIPT-->
    <script src="/js/main.js"></script>

   <!-- Fuse Html -->
    <script type="text/javascript" src="/css/fuse-html.min.js"></script>
</div>

</body>
</html>
