<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
 function startTxnSuccess(){
           var event = {"transactionName" : "Sign Up","serviceName" : "Registration"};
          BrowserAgentExtension.startApplicationTransaction(event);
        }
function endTxnSuccess(){
		var event = {"transactionName" : "Sign Up","serviceName" : "Registration"};
		BrowserAgentExtension.stopApplicationTransaction(event);
}
</script>
<head th:replace="common/nheader :: common-header" />

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
    <main>
        <div id="wrapper">
            <div class="content-wrapper">
                <div class="content custom-scrollbar">

                    <div id="register" class="p-8">

                        <div class="form-wrapper md-elevation-8 p-8">

                            <div class="logo bg-secondary">
                                <span>IB</span>
                            </div>

                            <div class="title mt-4 mb-8">Create an account</div>

                            <form name="registerForm" method="post" th:action="@{/signup}" onsubmit="endTxnSuccess();">

                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" th:value="${user.firstName}" id="firstName" name="firstName" roleId="firstname"  placeholder="Enter your first name" required="required" aria-describedby="nameHelp" />
                                    <label for="registerFormInputName">First Name</label>
                                </div>
								
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" th:value="${user.lastName}" id="lastName" name="lastName" roleId="lastName"  placeholder="Enter your last name" required="required" aria-describedby="nameHelp" />
                                    <label for="registerFormInputName">Last Name</label>
                                </div>								

                                <div class="form-group mb-4">
                                    <input type="email" class="form-control" th:value="${user.email}" id="email" name="email" roleId="email"  placeholder="Enter your Email" required="required" aria-describedby="emailHelp" />
                                    <label for="registerFormInputEmail">Email address</label>
                                </div>

								<div class="form-group mb-4">
                                    <input type="text" class="form-control" th:value="${user.phone}" id="phone" name="phone" roleId="phone"  placeholder="xxx-xxx-xxxx" required="required" />
                                    <label for="phone">Phone</label>
                                </div>								
								
								<div class="form-group mb-4">
                                    <input type="text" class="form-control" th:value="${user.username}" id="username" name="username" roleId="username"  placeholder="Enter your Username" required="required" />
                                    <label for="loginFormInputUsername">Username</label>
                                </div>
								
                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" th:value="${user.password}" id="password" name="password" roleId="password"  placeholder="Enter your Password" required="required" />
                                    <label for="registerFormInputPassword">Password</label>
                                </div>

                                <div class="terms-conditions row align-items-center justify-content-center pt-4 mb-8">
                                    <div class="form-check mr-1 mb-1">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                                            <span class="checkbox-icon"></span>
                                            <span>I read and accept</span>
                                        </label>
                                    </div>
                                    <a href="#" class="text-secondary mb-1">terms and conditions</a>
                                </div>

                                <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
                                    CREATE MY ACCOUNT
                                </button>

                            </form>

                            <div class="login d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                                <span class="text mr-sm-2">Already have an account?</span>
                                <a class="link text-secondary" th:href="@{/}">Log in</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
<div th:replace="common/nheader :: body-bottom-scripts" />
</body>
<script>
    $(document).ready(function() {
	startTxnSuccess();
    } );
</script>
</html>